<div class="navbar">
    <a href="/coursewebsite">Home</a>
    <a href="/about">About Us</a>
    <div class="dropdown">
        <button class="dropbtn">Topics</button>
            <div class="dropdown-content">
                <a href="/servlet">Servlet</a>
                <a href="/php">PHP</a>
                <a href="/node">Node</a>
                <a href="/jsp">JSP</a>
                <a href="/session">Session Handling</a>
            </div>
    </div> 
</div>

<div class = "about">
    <div class="col-container servlet">
        <div class ="row about">    
          <div class="col col-6">
            <div class="picture">
                <img id = "icon" src="static/images/icon.jpg"  class ="col-sm-6">
            </div>
          </div>
          <div id="about" class="col col-6">
            <p>We Group 7 3rd year SCIS Students of Saint Louis University created a Course Website to comply on the requirements of IT 9346A Web Systems and Technology 2017-2018. This website provides you different notes about web development such as Java Servlet, PHP, Session Handling and JSP to improve our web development skills.
            </p>
            <h4>MEMBERS</h4> 
            Ares, Jascha Kyle
            
        </div>
        </div>
    </div>

    <div class = "body about">
        
    </div>
</div>

<div class="footer-site row">
	<div class="footer-left col-8">
		<p class="footer-links">
			<a href="/about">About Us</a>
		</p>
		<p>Web System & Technologies &copy; 2018</p>
	</div>
</div>
