<a href="signout">Sign Out</a>
</div>
</div>
<div class ="about">
  <div class="col-container servlet">
    <div class ="row about">
      <div class="col col-6">
          <div class="picture">
              <img id = "icon" src="static/images/icon.jpg"  class ="col-sm-6">
          </div>
      </div>
      <div id="about" class="col col-6">
        <p>We Group 7 3rd year SCIS Students of Saint Louis University created a Course Website to comply on the requirements of IT 9346A Web Systems and Technology 2017-2018. This website provides you different notes about web development such as Java Servlet, PHP, Session Handling and JSP to improve our web development skills.</p>
        <h4>MEMBERS</h4>
        Ares, Jascha Kyle
        <br>Lansangan, Patrishia Anne M.</br>
        Lonogan, Mehanie
        <br>Mendoza, Noelle</br>
        Torcuato, Ivan Demeter
      </div>
    </div>
  </div>
</div>
