<div class="col-container servlet">
  <div class ="row">
    <div class="col-md">
      <div class="picture">
        <img id = "banner" src="static/images/icon.jpg"  class ="col-sm-6">
        <img id = "banner" src="static/images/ICON2.jpg">
      </div>
    </div>
  </div>
</div>
