</div>
</div>
<div class="container login">
  <form method="post" action="login">
    <div class="form-group">
      <label for="Username" id="margin">Username </label>
      <input type="name" class="form-control" placeholder="Username" name="user">
    </div>

    <button type="submit" class="btn login">Log In</button>
  </form>
</div>
