<div class="navbar">
  <a href="/coursewebsite">Home</a>
  <a href="/about">About Us</a>
  <div class="dropdown">
    <button class="dropbtn">Topics</button>
    <div class="dropdown-content">
      <a href="/servlet">Servlet</a>
      <a href="/php">PHP</a>
      <a href="/node">Node</a>
      <a href="/jsp">JSP</a>
      <a href="/session">Session Handling</a>
    </div>
  </div>
</div>

<div class="col-container servlet">
  <div class="col-6">
  	<div class="picture">
  		<img id = "banner" src="static/images/jsp.jpg">
  	</div>
  </div>
</div>

<div class="body jsp">
  <div class="java-def jsp">
    <h3>What is Java Server Pages?</h3>
    <p>Java Server Pages (JSP) is a server-side programming technology that enables the creation of dynamic, platform-independent method for building Web-based applications. JSP have access to the entire family of Java APIs, including the JDBC API to access enterprise databases.</p>
    <p>JavaServer Pages (JSP) is a technology for developing Webpages that supports dynamic content. This helps developers insert java code in HTML pages by making use of special JSP tags.</p>
    <h3>Advantages of Java Server Pages</h3>
    <p>Dynamic part is written in Java, which makes it easier to use and it is portable to other operating systems and non-Microsoft Web servers.</p>
    <p>It is more convenient to write and to modify</p>
    <h3>JSP COMPONENTS</h3>
    <ul>
      <li>
        <h4>Template text</h4>
        <p>Compiled into the appropriate output statement.</p>
      </li>
      <li>
        <h4>JSP Page directives</h4>
        <p>JSP Page directives is used to provide instructions in jsp page</p>
      </li>
      <li>
        <h4>JSP standard elements</h4>
        <p>Special JSP markup that are associated with some equivalent dynamic functionality. Example: [jsp:include] element provides functionality equivalent to the include() method of the Requestdispatcher object.</p>
      </li>
      <li>
        <h4>JSP custom elements</h4>
        <p>Special custom JSP markup whose dynamic functionalities are defined in a referenced ‘tag library’. Example: JSP standard tag library JSPL.</p>
      </li>
      <ul>
        <li>Expression language expression</li>
        <p>Special expression (syntax: ${}) whose evaluated value is routed to the JSP’s output.</p>
        <li>JSP Scriplets</li>
        <p>Snippets of java code embedded in JSP.</p>
      </ul>
    </ul>
  </div>
</div>

<div class="footer-site row">
	<div class="footer-left col-8">
		<p class="footer-links">
			<a href="/about">About Us</a>
		</p>
		<p>Web System & Technologies &copy; 2018</p>
	</div>
</div>
