<div class="navbar">
            <a href="/coursewebsite">Home</a>
            <a href="/about">About Us</a>
            <div class="dropdown">
                <button class="dropbtn">Topics</button>
                <div class="dropdown-content">
                    <a href="/servlet">Servlet</a>
                    <a href="/php">PHP</a>
                    <a href="/node">Node</a>
                    <a href="/jsp">JSP</a>
                    <a href="/session">Session Handling</a>
                </div>
            </div> 
        </div>


<div class="col-container servlet">
  <div class="col-6">
  	<div class="picture">
  		<img id = "banner" src="static/images/php.jpg">
  	</div>
  </div>
</div>

<div class="body php">
    <h2>PHP: Hypertext Preprocessor</h2>
        <div class="java-def php">
            <h3>What is Java Server Pages?</h3>
                <p>
                   Php or Hypertext Preprocessor is a server  scripting language and considered as a powerful tool when it comes to making interactive web pages. It is a free and open source scripting language. It allows the users to interact with database.
                </p>
            <h3>What is a PHP File?</h3>
                <p>PHP File contains:</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>PHP Code</li>
                        <li>Text</li>
                    </ul>
            <h3>What does PHP do?</h3>
                <ul>
                    <li>PHP can encrypt data.</li>
                    <li>In PHP, you can add, delete and even modify elements within your database. </li>
                    <li>PHP performs system functions</li>
                    <li>PHP can send and receive cookies</li>
                    <li>It restrict user to access some pages in the website.</li>
                </ul>
            <h3>PHP Syntax</h3>
                <ul>
                    <li>PHP functions are not case sensitive</li>
                    <li>PHP statements end with a semicolon (;)</li>
                    <li>PHP starts with <?php and it end with ?>. For example: <? php //insert code here ?></li>
                </ul>
            <h3>Comments in PHP</h3>
                <p>PHP has several ways on how to put a comment in a php code.</p>
                <ul>
                    <li>1. Using "//" - //this is a single line comment</li>
                    <li>2. Using "#" - #this is a single line comment</li>
                    <li>3. Using "/**/" -/*This is a multiple line comment*/</li>
                </ul>
            <h3>Rules for PHP Variables:</h3>
                <ul>
                    <li>Variable must start with a $ sign, then followed by the variable name.</li>
                    <li>Variable name cannot start with a number</li>
                    <li>Variable names are case sensitive.</li>
                </ul>
        </div>
</div>

<div class="footer-site row">
	<div class="footer-left col-8">
		<p class="footer-links">
			<a href="/about">About Us</a>
		</p>
		<p>Web System & Technologies &copy; 2018</p>
	</div>
</div>
