<div class="col-container servlet">
  <div class="col-6">
  	<div class="picture">
  		<img id = "banner" src="static/images/session.jpg">
  	</div>
  </div>
</div>

<div class="body sessionHandling">
  <div class = "session handling">
    <p>Session handling happens when a server setup a cookie in the client’s browser maintaining the state between the servlet and client browser. It is maintained by a WebLogic Server by wherein the server is associated with session identifiers for different clients, and for each session there is data stored. Since data is stored in the server, it is also called as server-side session handling.</p>
    <ul>
      <li>
        <h3>getSession()</h3>
        <p>retrieval of an instance of HttpSession object.</p>
      </li>
      <li>
        <h3>isNew()</h3>
        <p>returns a boolean value (true or false), whether the session is new or not.</p>
      </li>
      <li>
        <h3>isNew()</h3>
        <p>returns a boolean value (true or false), whether the session is new or not.</p>
      </li>
      <li>
        <h3>setAttribute()</h3>
        <p>storing of data in the session via the servlet by accepting two parameters (name as the key, java object to be stored).</p>
      </li>
       <li>
        <h3>getAttribute()</h3>
        <p>retrieve data from the session. Requires typecasting to the appropriate type in the servlet.</p>
      </li>
    </ul>
  </div>
</div>
