<div class="navbar row ">
  <a href="index.html">Home</a>
  <a href="/node">Topics</a>
  <a href="about.html">About Us</a>
</div>


<div class="container">
  <div class="row">
  <div class="col-sm-6" style="background-color:yellow;">
    <p> psoifvgdhjksa </p>
    </div>

    <div class="col-sm-6" style="background-color:pink;">
      <p> psoifvgdhjksa </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6" style="background-color:green;">
      <p> psoifvgdhjksa </p>
    </div>

      <div class="col-sm-6" style="background-color:yellow;">
        <p> psoifvgdhjksa </p>
    </div>



  </div>
</div>
</div>

<div class="footer-site row">
	<div class="footer-left col-8">
		<p class="footer-links">
			<a href="topics.html">Topics</a>
			·
			<a href="about.html">About Us</a>
		</p>
		<p>Web System & Technologies &copy; 2018</p>
	</div>
</div>
