<div class="navbar row ">
  <a href="index.html">Home</a>
  <a href="/node">Topics</a>
  <a href="about.html">About Us</a>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6" style="background-color:yellow;">
      <p> psoifvgdhjksa </p>
    </div>

    <div class="col-sm-6" style="background-color:pink;">
      <p> psoifvgdhjksa </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="background-color:green;">
      <p> psoifvgdhjksa </p>
    </div>

    <div class="col-sm-6" style="background-color:yellow;">
      <p> psoifvgdhjksa </p>
    </div>
  </div>
</div>
