html {
    width: 100%;
    padding: 0;
}
body{
    background-color: #FFFFFF;
    margin: 0;
}

.container {
    background: #ffffff;
    margin: auto;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
    border-radius: 5px ;
}

button.login {
  margin-top: 2%;
  padding: 10px 15px;
  font-size: 20px;
  width: 30%
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #000d1a;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.button:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button.btn-info{
  color: white;
  background-color: #000d1a;
  margin-bottom: 2%;
  float: right;
  margin-right: 5%;
}

button.btn-info:hover {
  background-color: #cc0000
}

button{
  color: #fff;
  background-color: #191919;

}

.send{
  background-color: #191919;
  width: 100%;

}


div.modal-content{
  padding: 3% 3% 3%;
  background: #abbaab;
  background: -webkit-linear-gradient(to left, #ffffff, #abbaab);
  background: linear-gradient(to left, #ffffff, #abbaab);

}

.topnav {
  overflow: hidden;
  background-color: #333;
  border-bottom: red 5px solid;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topdropdown {
  float: left;
  overflow: hidden;
}

.topdropdown .topdropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .topdropdown:hover .topdropbtn {
    background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: red;
}

.topdropdown:hover .dropdown-content {
    display: block;
}

.topnav-right {
  float: right;
}


.col-container servlet{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

#banner {
  width:100%;
  padding: 0;
}

.banner{
  width: 200%;
}

.col col-6{
  float: right;
}

div.body{
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#about{
  padding-top: 5%;
}


/* FOOTER */

div.footer-site{
  border-top: red 5px solid;
	background-color: #0d0d0d;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
  margin: 0;
}

div.footer-site .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* FOOTER LINKS */

div.footer-site p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

/* FOOTER */
div.footer-site p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

div.col-6 {
  padding: 0;
  margin: 0;
}

div.footer-site .footer-right{
	float: right;
    color: #FFFFFF;
	max-width: 40%;
}

div.footer-site .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {

.footer-site .footer-left,
.footer-site .footer-right{
    text-align: center;
}

.footer-site .footer-right{
    float: none;
    margin: 0 auto 20px;
	}

.footer-site .footer-left p.footer-links{
    line-height: 1.8;
	}
}
